<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io();
		  console.log(socket);
		  socket.on("connect", () => {
			  // either with send()
			  socket.send("Hello!");
			  socket.emit("test");
			  socket.emit("api-get", { "endpoint": "user-info" });
			  // or with emit() and custom event names
			  socket.emit("salutations", "Hello!", { "mr": "john" }, Uint8Array.from([1, 2, 3, 4]));
		  });

		  // handle the event sent with socket.send()
		  socket.on("message", data => {
			  console.log(data);
		  });

		  socket.on("api-response", data => {
			  console.log(data);
		  });

		  socket.on("hi", data => {
			  console.log(data);
		  });

		  socket.on("player connect", data => {
			  console.log(data);
		  });

		  socket.on("player move", data => {
			  console.log(data);
		  });

		  // handle the event sent with socket.emit()
		  socket.on("greetings", (elem1, elem2, elem3) => {
			  console.log(elem1, elem2, elem3);
		  });
		</script>
        <title>SocketNodejs</title>
		
	</head>
	<body>
	<h1>Welcome</h1>
	</body>
</html>
